<div style="background-color: rgb(14,13,35);margin: -20px; padding: 10px; min-height: 100vh;">
<div class="d-flex flex-column align-items-center mt-5">
    <h1 style="color: white;font-size: 100px;">OOPS</h1>
    <h2 class="text-danger"><%= errorMsg %></h2>
</div>
</div>
