<div class="row">
  <div class="col-md-7 d-flex align-items-center justify-content-center">
    <div class="jumbotron">
      <div class="leftContent">
        <h3 class="mainheading p-2">A comprehensive platform for reliable</h3>
        <h2 class="text-white p-2">job opportunities and internships.</h2>
        <h5 class="text-white p-1">Get Discovered. Get Hired.</h5>
        <div class="p-2">
          <a class="btn btn-lg text-white" style="background-color: #FF2C90;" href="/jobs" role="button">I'm A Job
            Seeker</a>
          <!-- Button trigger modal -->
            <% if(recruiterEmail){%>
              <a href="/jobs"><button type="button" class="btn btn-lg text-white m-2" style="background-color: #FF2C90;"
              data-bs-toggle="modal">
              I'm A Recruiter
            </button></a>
            <%}else{%>

          <button type="button" class="btn btn-lg text-white m-2" style="background-color: #FF2C90;"
            data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
            I'm A Recruiter
          </button>

          <%}%>
        </div>

      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Experience easily!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/register" method="post">
                <div class="mb-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Name</div>
                    </div>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name"
                      placeholder="enter your name" required>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Email</div>
                    </div>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                      aria-describedby="emailHelp" required placeholder="enter your email">
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Password</div>
                    </div>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" required
                      placeholder="enter your password">
                  </div>
                </div>

                <button type="submit" class="btn text-white" style="background-color: #FF2C90;">Register</button>
              </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
              <div>
                <div class="mr-auto">Already registered? <button type="button" class="btn btn-outline-success"
                    data-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button></div>

              </div>
              <div>
                <a href="#"><i class="text-primary bi bi-twitter"></i></a>
                <a href="#"><i class="text-danger bi bi-instagram"></i></a>
                <a href="#"><i class="text-info bi bi-facebook"></i></a>
                <a href="#"><i class="text-success bi bi-whatsapp"></i></a>
                <a href="#"><i class="text-primary bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Login Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/login" method="post">
                <div class="mb-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Email</div>
                    </div>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail12"
                      aria-describedby="emailHelp" required placeholder="enter your email">
                  </div>
                </div>
                <div class="mb-3">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Password</div>
                    </div>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword12" required
                      placeholder="enter your password">
                  </div>
                </div>
                <button type="submit" class="btn text-white" style="background-color: #FF2C90;">Login</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <img src="/images/banner.png" alt="Feature Image" class="feature-img">
  </div>
</div>