    <div style="background-color: white; margin: -20px; padding: 10px; min-height: 100vh;">
        <div class="p-3 form-box rounded-md w-50 mx-auto m-5">
          <h2 style="color: #181642" class="text-center mb-3">Login</h2>
          <form action="/login" method="post" class="loginForm">
            <div class="mb-3">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Email</div>
                </div>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                  aria-describedby="emailHelp" required placeholder="enter your email">
              </div>
            </div>
            <div class="mb-3">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Password</div>
                </div>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" required
                  placeholder="enter your password">
              </div>
            </div>

            <button type="submit" class="btn text-white" style="background-color: #FF2C90;">Login</button>
          </form>
        </div>
    </div>